@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  background-color: #444444;
  color: #eeeeee;
}

a {
  color: #ffff88;
  text-decoration: none;
}

a pre {
  display: inline;
  margin: 0;
}

#output {
  margin: 0 auto;
}
